# API Ezzpag
PAYMENT_GATEWAY=ezzpag
EZZPAG_API_AUTH=c2tfbGl2ZV92MnpCODdZR3FVdDRPNXRKa0Qza0xreGR2OE80T3pIT0lGQkVidnVza246eA==

# Segurança - Admin IP Whitelist (separe múltiplos IPs com vírgula)
ADMIN_IP_WHITELIST=127.0.0.1,::1,45.160.126.247

# Email - Resend
RESEND_API_KEY=re_hqZFi9AH_PyRnumWZsB418EsdnvURe6sJ

# Analytics e Tracking
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_GOOGLE_ADS_ID=AW-17657798942
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_LABEL=8A7OCOmxva4bEJ7C8uNB
NEXT_PUBLIC_META_PIXEL_ID=

# Utmify
UTMIFY_API_KEY=SSgDqupTYOTlYTlKgcqE4bIJCoqFQvHwnnNr
NEXT_PUBLIC_SITE_URL=https://obomvelhinho.com
